@import "tailwindcss";

html,
body,
#app {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    background-color: #1e1e1e;
    color: #f5f5f5;
}

body {
    font-family:
        Inter,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        sans-serif;
    background-color: #020617;
    color: #f8fafc;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Fondo */
::-webkit-scrollbar-track {
  background: #1e1e1e;
  border-radius: 8px;
}

/* Barra */
::-webkit-scrollbar-thumb {
  background: #4b5563; /* gris */
  border-radius: 8px;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}